Repository CycloneDX/cyclonedx.org, pull requests merged in 2024-08, with the labels that each got.

#319 Add Meta Package Manager
  _data/tools.yml
Labels: tool-center

#321 Add BOMSkope to tool-center
  _data/tools.yml
Labels: tool-center

#316 tools.yml: add nim_lk
  _data/tools.yml
Labels: tool-center

#315 Update tools.yml, add Bitbucket Pipe for SBOM Generation
  _data/tools.yml
Labels: tool-center

#278 sbom-guide: clarify relationship in CDX
  guides/sbom/relationships.md
Labels: documentation

#325 Add CBOM tooling to CycloneDX Tool Center
  _data/tools.yml
Labels: tool-center

#327 fix: sections scroll issue
  theme/_layouts/examples.html
  theme/_sass/components/_sections-list.scss
Labels: UI/UX
